@charset "utf-8";

#container{width: 100%;}

/*  */
article.brand_ct{width: 70%;margin: 0 auto;}
article.brand_ct img{width: 100%;margin: 0 auto;}
article.brand_ct .brand_ct_tit{position: absolute;top:230px;left:650px; color: #fff;font-size: 40px;font-weight: bold;}